@import '../base/variables.less';

html,
body {
    height: 100%;
    margin: 0;


    #main {
        height: 100%;
        margin: 0;

        >* {
            font-family: 'Open Sans', sans-serif;
            box-sizing: border-box;
        }

        button {
            background-color: transparent;
            border: none;
            color: @primary-color;
            cursor: pointer;
            outline: none;

            &:focus,
            &:active {
                outline: none;
            }

            .with-border {
                border: 1px solid @primary-color;
            }

            &.btn-primary {
                background-color: @primary-color;
                color: #fff;

                &.with-border {
                    border-color: darken(@primary-color, 20%);
                }
            }
        }
    }
}