@font-face {
  font-family: 'dipanegara dhf';
  src: url('dipanegara dhf.eot');
  src: url('dipanegara dhf.woff2') format('woff2'),
       url('dipanegara dhf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dipanegaradhf';
  src: url('dipanegaradhf.woff') format('woff'),
       url('dipanegaradhf.ttf') format('truetype'),
       url('dipanegaradhf.svg#dipanegaradhf') format('svg');
  font-weight: normal;
  font-style: normal;
}

