@import '../../base/common.less';
@import '../../base/variables.less';


.gFontImport("Open+Sans",400,latin);
.gFontImport("Lato",400,latin);


.button(@color) {

    flex: 1;
    color: #fff;
    background-color: @color;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans';
    font-weight: bold;
    padding: 0.5rem;
    border-bottom: 0.2rem solid darken(@color, 5%);
    outline: none;
    transition: border-bottom-width 500ms;
    text-shadow: -1px -1px 2px #666;

    &:focus {
        border-bottom-width: 0;
    }
}

.auth {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: desaturate(@primary-color, 40%);
    box-shadow: 0 3px 10px #222 inset;


    .container-auth-form {
        background-color: #fff;
        box-shadow: 0 3px 10px #222;

        h1 {
            padding: 1rem 1rem 0 1rem;
            font-weight: bold;
            margin-bottom: 1rem;
            font-size: 2rem;
            font-variant: titling-caps;
            font-family: "HackatTack", consolas;
            color: #333;
        }

        form {
            .field-part {
                padding: 0 1rem;
                margin-bottom: 1rem;

                .input-wrapper {
                    position: relative;
                    display: flex;
                    align-items: center;

                    &:first-child {
                        margin-bottom: 0.5rem;
                    }

                    input {
                        flex: 1;
                        border-radius: 3px;
                        border: 1px solid #cecece;
                        height: 2rem;
                        padding-left: 0.5rem;
                        padding-right: 2rem;
                    }

                    .fa {
                        position: absolute;
                        right: 1rem;
                        color: @primary-color;
                    }
                }
            }

            footer {
                display: flex;

                button {
                    &.btn-success {
                        .button(@primary-color);
                    }
                    &:not(.btn-success) {
                        .button(@second-color);
                    }
                }
            }
        }
    }
}