@import "../../base/variables.less";
@import "./fonts/hackattack/font.less";

@color-header: darken(@primary-color, 25%);
@color-header-font: @main-back-color;
@color-aside: #2E363F;
@color-aside-font: #939da8;
@color-aside-font-selected: #f7f7f7;

.site-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    >header {
        height: 35px;
        line-height: 35px;
        background-color: @color-header;
        color: @color-header-font;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        user-select: none;
        padding: 0 1rem;

        >.header-filler {
            flex: 1;
        }

        >.btn-menu {
            margin-right: 1rem;
            cursor: pointer;
        }

        >.brand {
            font-size: 2rem;
            font-variant: titling-caps;
            font-family: "HackatTack", consolas;
        }
    }

    >main {
        flex: 1;
        background-color: @main-back-color;
        display: flex;
        position: relative;

        #content {
            flex: 1;
            padding: 1rem;
            max-height: 100%;
            min-height: 0;
            overflow: hidden;

            >div {
                height: 100%;
                overflow: hidden;
            }
        }

        >aside {
            @aside-width: 250px;

            width: @aside-width;
            height: 100%;
            background-color: @color-aside;
            transition: width 300ms;

            nav {
                width: 100%;
                height: 100%;
                overflow-x: hidden;
                overflow-y: auto;

                ul {
                    width: 100%;
                    padding: 0;
                    margin: 0;

                    li {
                        width: 100%;
                        list-style: none;
                        height: 1.7rem;
                        line-height: 1.7rem;
                        font-size: 0.8rem;
                        border-bottom: 1px solid darken(@color-aside, 10%);
                        border-top: 1px solid lighten(@color-aside, 10%);
                        position: relative;
                        overflow: hidden;


                        &::before {
                            content: ' ';
                            position: absolute;
                            height: 100%;
                            background-color: @primary-color;
                            width: 0;
                            transition: width 200ms;
                        }

                        &:hover::before {
                            width: 0.2rem;
                            transition: width 500ms;
                        }

                        a {
                            padding-left: 1rem;
                            display: block;
                            color: @color-aside-font;
                            text-decoration: none;
                            position: relative;
                            height: 100%;

                            &::before {
                                content: ' ';
                                position: absolute;
                                border-top: transparent 0 solid;
                                border-bottom: transparent 0 solid;
                                border-right: lighten(@color-aside, 10%) 0 solid;
                                top: 50%;
                                transform: translateY(-50%);
                                right: 2px;

                                transition: all 300ms;
                            }

                            &::after {
                                content: ' ';
                                position: absolute;
                                border-top: transparent 0 solid;
                                border-bottom: transparent 0 solid;
                                border-right: @main-back-color 0 solid;
                                top: 50%;
                                transform: translateY(-50%);
                                right: 0;

                                transition: all 300ms;
                            }

                            &.selected {
                                &::before {
                                    content: ' ';
                                    border-top: transparent 10px solid;
                                    border-bottom: transparent 10px solid;
                                    border-right: lighten(@color-aside, 10%) 10px solid;
                                }

                                &::after {
                                    content: ' ';
                                    border-top: transparent 10px solid;
                                    border-bottom: transparent 10px solid;
                                    border-right: @main-back-color 10px solid;
                                }
                            }

                            i {
                                margin-right: 0.5rem;
                            }
                        }
                    }
                }
            }

            &.floating {
                position: absolute;
                top: 0;
                left: -@aside-width;
                transition: left 0.8s;

                &.open {
                    left: 0;
                }
            }

            &.reduce {
                width: 50px;
            }
        }
    }
}