#stat-lol {
    .search {
        margin-bottom: 1rem;

        button {
            margin-left: -1px;
        }
    }
    .matches {
        display: flex;
        flex-flow: wrap;

        .game-tile {
            display: inline-flex;
            margin: 0 1rem 1rem 0;
            height: 100px;
            width: 200px;
            background-color: #28b779;
            color: #fff;
            padding: 1rem;
            cursor: pointer;
            position: relative;
            flex-direction: column;

            transition: box-shadow 400ms;

            &:hover, 
            &:focus {
                box-shadow: 0 2px 10px 2px #ccc;
            }

            > .game-date {
                font-weight: bold;
            }

            > img {
                width: 5rem;
            }
        }
    }
}