.toast-color(@color) {
    background: @color;
    .icon-wrapper {
        background: darken(@color, 10%);
    }
}

.toastr {
    position: absolute;
    z-index: 9999;
    bottom: 0;
    right: 1rem;

    display: flex;
    align-items: flex-end;    
    flex-direction: column;

    .toast {
        height: 6rem;
        width: 12rem;
        color: #fff;

        margin-bottom: 1rem;
        display: flex;

        &.toast-dev {
            .toast-color(#343a40);
        }

        &.toast-info {
            .toast-color(#007bff);
        }

        &.toast-warn {
            .toast-color(#ffc107);
        }

        &.toast-error {
            .toast-color(#dc3545);
        }

        &.toast-success {
            .toast-color(#28a745);
        }

        .icon-wrapper {
            padding: 0 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;

            .icon {
                width: 2rem;
                align-self: center;
                text-align: center;
                font-size: 2rem;
            }
        }

        .text {
            flex:1;
            display: flex;
            flex-direction: column;
            padding: 0.5rem 0 0.5rem 0.5rem;

            .title {
                font-weight: bold;
                margin-bottom: 0.3rem;
            }
        }
    }
}


.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: all 200ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 800ms ease-in;
}
