@import '../../base/variables.less';

.game-tiles {
    flex: 1;
    display: flex;
    overflow: hidden;

    .game-list-wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        &.folded {
            max-width: 0;
        }

        .game-list {
            flex: 1;
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            overflow-x: hidden;
            overflow-y: auto;

            .game-tile {
                @tile-size: 100px;
                width: @tile-size;
                height: @tile-size;
                font-size: .9rem;
                background: #ccc;
                color: #f6f6f6;
                margin-right: .5rem;
                margin-bottom: .5rem;
                cursor: pointer;

                transition: background-color 300ms;

                &>* {
                    padding: 0.5rem;
                }

                header {
                    font-weight: bold;
                }

                .body {
                    flex: 1;
                }

                footer {
                    display: flex;
                    align-items: stretch;
                    padding-top: 0;
                    padding-bottom: 0;

                    button {
                        display: flex;
                        align-items: center;
                        font-size: 24px;
                        cursor: pointer;
                        color: #f6f6f6;
                        border: none;
                        background: transparent;
                    }
                }

                &.active {
                    background: @primary-color;
                }

                &.new-game {
                    background: @primary-color;
                    display: flex;
                    align-items: center;

                    transition: width 300ms;

                    .new-game-form {
                        width: 0;
                        overflow: hidden;
                        padding: 0;
                        display: flex;
                        flex-direction: column;
                        align-items: stretch;

                        transition: width 300ms;
                    }

                    &.active {
                        width: @tile-size * 5;

                        .new-game-form {
                            width: @tile-size * 5;

                            input {
                                padding: 0 .5rem;
                            }

                            .button-wrapper {
                                display: flex;
                                justify-content: flex-end;

                                button {
                                    font-size: 1.2rem;
                                }
                            }
                        }

                        .new-game-icon {
                            display: none;
                        }
                    }

                    .new-game-icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        height: 100%;
                        width: 100%;

                        font-size: 2rem;
                    }
                }
            }
        }

        .new-game {
            display: flex;

            .new-game-name {
                flex: 1;
            }
        }
    }

    .list-separator {
        background: darken(@main-back-color, 40%);
        color: #f9f9f9;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 0 0.5rem;
        padding: 0 0.25rem;

        &:hover {
            background: darken(@main-back-color, 60%);
        }
    }
}