@import '../../base/variables.less';

@keyframes shake {
    0% {
        transform: rotate(-10deg);
    }

    5% {
        transform: rotate(10deg);
    }

    10% {
        transform: rotate(-5deg);
    }

    15% {
        transform: rotate(5deg);
    }

    20% {
        transform: rotate(0);
    }
}

.event-tracker {
    display: flex;
    flex-direction: column;

    >header {
        display: flex;
        justify-content: space-between;
        color: @primary-color;
        align-items: center;

        .add-event {
            align-self: stretch;
            width: 3rem;
            display: flex;
            align-items: stretch;
            cursor: pointer;
            border-left: 1px solid @primary-color;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;
                text-decoration: none;
                color: inherit;
            }

            .shake-hover();
        }

        .event-tiles {
            flex: 1;
            display: flex;
            align-items: stretch;
            min-width: 0;

            .scroll-event {
                button {
                    height: 100%;
                    background-color: transparent;
                    border: none;
                    color: @primary-color;
                    cursor: pointer;

                    &:focus,
                    &:active {
                        outline: none;
                    }
                }
            }

            .tile-scrollable {
                flex: 1;
                overflow: hidden;

                transition: scrollLeft 300ms;

                .tile-wrapper {
                    display: flex;

                    .tile {
                        position: relative;
                        display: flex;
                        align-items: center;
                        height: 2rem;
                        font-size: 1.2rem;
                        margin-right: 2rem;
                        cursor: pointer;

                        &::after {
                            content: '';
                            border-top: 0.2rem solid @primary-color;
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 0;
                            transition: width 200ms;
                        }

                        &.active {
                            &::after {
                                width: 100%;
                                transition: width 100ms;
                            }
                        }

                        a {
                            text-decoration: none;
                            color: inherit;
                            white-space: nowrap;
                        }
                    }
                }
            }

        }

    }

    >.event-details {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 0 1rem;

        >.details-content {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: .5rem 0;
            height: 100%;

            .field-row {
                display: flex;
                margin-bottom: .5rem;

                &:last-child {
                    flex: 1;
                    margin-bottom: 0;
                }

                .field-block {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    height: 100%;

                    &:not(:last-child) {
                        margin-right: 0.5rem;
                    }

                    label {
                        margin-bottom: 0.5rem;

                        &::after {
                            content: ' :';
                        }
                    }

                    input {
                        display: block;
                        border-top: none;
                        border-left: none;
                        border-right: none;
                        height: 22px;
                        padding: 0;

                        &:active,
                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
        }

        >footer {
            display: flex;
            height: 50px;
            align-items: center;

            .event-tag {
                flex: 1;

                font-size: .8rem;

                .tag {
                    color: @primary-color;
                }
            }

            .btn-wrapper {
                justify-self: flex-end;
                align-self: stretch;
                display: flex;
                align-items: stretch;

                .btn {
                    margin-left: .5rem;
                    padding: 0 .5rem;
                    cursor: pointer;
                    text-decoration: none;
                    display: inline-flex;
                    align-items: center;
                    font-size: .8rem;
                    outline: none;

                    .shake-hover();

                    .btn(#fff, @primary-color);
                    border: 1px solid @primary-color;

                    &.btn-primary {
                        .btn(@primary-color, #fff);
                    }

                    i {
                        margin-right: .5rem;
                    }
                }
            }

        }
    }

}

.btn(@bg-color, @txt-color) {
    background-color: @bg-color;
    color: @txt-color;

    &:hover {
        background-color: darken(@bg-color, 10%);
    }
}

.shake-hover() {
    &:hover {
        i {
            animation: shake 2s;
            animation-iteration-count: infinite;
        }
    }
}